.a{
    color:white;
}
.a:hover{
    color:white;
}
body{
	background-image: url("/assets/bg.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: 50% 0;
	color:white;
	background-color:black;
	background-size:cover;
}
.navbar{
	border:solid;
	border-width:3px;
	border-color:black;
	background-color:black;
}
.filler{
	border:solid;
	border-width:3px;
	border-color:black;
	background-color:black;
	height:50px;
	margin-bottom:25px;
}
.feat{
  border-width:5px;
  border:solid;
  border-color:white;
  background-color:black;
  margin:10px;
  box-shadow: 10px 10px white;
}
.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  background-color: black;
	border:solid;
	border-width:20px;
	border-color:black;
}
/* Borrowed code for the custom divider */
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 35%;
  height: 0.25rem;
  background-color: #000000;
  border-radius: 1rem;
  border-color: #000000 !important; 
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem; 
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem; 
}
.divider-custom .divider-custom-icon {
  color: #000000 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff; 
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important; 
	/* font changes for the accent pieces */
}
.fontChange1{
	border:solid;
	border-width:1px;
	border-color:black;
	background-color:white;
	font-family: "Times New Roman", Times, serif;
	color:black;
	padding:2px;
	box-shadow: 2px 2px red;
	margin-right:3px;
	margin-left:2px;
}
.fontChange2{
	border:solid;
	border-width:1px;
	border-color:black;
	background-color:white;
	font-family: "Times New Roman", Times, serif;
	color:black;
	padding:2px;
	box-shadow: 2px 2px black;
	margin-right:3px;
	margin-left:2px;
}
/* This on its own didn't work so i just made it css */
.m-0{
	margin:0px;
}
.header{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px
}
.pic{
  opacity: 1;
  filter: alpha(opacity=100);
}
.pic:hover{
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.sidefix{
	padding-left:10%;
	padding-right:10%;
}
hr{
	border:none;
}
.scp {
	position: relative;
	width: 50%;
}
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.scp:hover .middle {
	opacity: 0.3;
}
.scp:hover .middle {
	opacity: 1;
}
.text {
	background-color: red;
	color: white;
	font-size: 20px;
	padding: 16px 32px;
	box-shadow: 5px 5px white;
}
.topnav a:hover {
  background-color: red;
}

.topnav a.active{
  background-color: #45EBEA;
  color: #f8bd25;
}